# about codeowners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owner is Artem since he setup up docusaurus
*  @shamsartem

.github/**  @nahsi

docs/build/**             @boneyard93501
docs/aqua-book/**         @alari
docs/marine-book/**       @mikevoronov
