name: codeowners

on:
  pull_request:
    paths:
      - ".github/workflows/codeowners.yml"
      - ".github/CODEOWNERS"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  validate:
    name: Validate CODEOWNERS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: "files,owners,duppatterns,syntax"
          github_access_token: ${{ secrets.FLUENCEBOT_RELEASE_PLEASE_PAT }}
